html {
    font-family: Montserrat, sans-serif;
}
body {
    min-width: 320px;
}
imput,
button {
    outline: none;
}
.header {
    background-color: #232323;
    width: auto;
}
.header-top {
    background-color: #2b2b2b;
}
.container-top {
    display: flex;
}
.container-top, .container {
    margin: auto;
    padding: 0 15px;
    max-width: 1170px;
}
.header-tel {
    flex-grow: 1;
    font-size: 14px;
    color: #7f7f7f;
    text-decoration: none;
}
.header-user a {
    font-size: 14px;
    color: #7f7f7f;
    text-decoration: none;
}
.header-tel, .header-user {
    padding: 5px;
}
.header-user span {
    font-size: 12px;
    margin: 0 10px;
    color: #3b3b3b;
}
.header-user {
}
.header-middle {
    display: flex;

}
.header-middle a {
    display: block;
}
.header-logo {
    flex-grow: 1;
}
.header-middle form {
    /* float: right; */
    display: inline-block;
    border: 1px solid #323232;
    height: 46px;
}
.header-middle,
.header-logo form {
    margin: 30px 0 26px;
}
.header-logo {
    display: inline-block;
}

.header-search {
    width: 200px;
    padding: 7px 4px 7px 20px;
    color: #666;
    border: none;
    background-color: transparent;
}
.header-search,
.header-search::placeholder {
    font-size: 0.8125rem;
    color: #666;
    line-height: 1.85rem;
    font-weight: 200;
}
.header-middle button {
    padding: 0;
    width: 54px;
    height: 44px;
    border: none;
    background: transparent url(logo/Search.png) center center no-repeat;
}
.header-search,
.header-middle button {
    display: inline-block;
    vertical-align: top;

}
.header-botton {
    display: flex;
}
.header-nav {
    flex-grow: 1;
    padding-bottom: 20px;
}
.header-nav ul {
    list-style: none;
    padding: 0;
    margin-left: -20px;
}
.header-nav li {
    display: inline-block;
}
.header-nav a {
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
.header-nav .active,
.header-nav a:hover {
    color: #be9261;
}
.header-cart {
    /*float: right;*/
    padding: 10px;
    width: 17px;
    height: 22px;
    background: url(logo/circl.png) center center no-repeat;
}
.header-cart::after {
    position: relative;
    top: -6px;
    right: -6px;
    display: inline-block;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    font-size: 0.75rem;
    line-height: .75rem;
    line-height: 18px;
    text-align: center;
    background-color: #be926f;
    content: '2';
    text-decoration: none;
    color: black;
}
.content-body {
    display: block;
    width: auto;
}
.contacte {
    margin: 30px auto;
    display: flex;
    align-items: center;
    max-width: 1170px;
    height: 117px;
    background-color: #e7e7e7;
}
.contact-us {
    display: flex;
    align-items: center;
    flex-grow: 1;

}
.contact-us a {
    padding:  0 30px 0 30px;
    font-size: 30px;
    color: #232323;
    text-decoration: none;
}
.home-address {
    padding: 0 15px 0 15px;
}

.home-address a {
    text-decoration: none;
    font-size: 14px;
    color: #666666;
}
.home-address span {
    color: #999999;
}