.wrapper {
    font-family: Montserrat, sans-serif;
}
body {
    min-width: 320px;
}
imput,
button {
    outline: none;
}
.header {
    background-color: #232323;
    width: auto;
}
.header-top {
    background-color: #2b2b2b;
}
.container {
    margin: auto;
    padding: 0 15px;
    max-width: 1170px;
}

/*---------------- tel------user----------- */
.header-tel {
    text-align: left;
}

.header-tel a {
    display: inline-block;
    font-size: 14px;
    color: #7f7f7f;
    text-decoration: none;
    }
@media (max-width: 767px) {
    .header-tel {
        text-align: center;
    }
}
a {
    font-size: 14px;
    color: #7f7f7f;
    text-decoration: none;
}
.header-tel, .header-user {
    padding: 5px;
}
.header-user span {
    font-size: 12px;
    margin: 0 10px;
    color: #3b3b3b;
}
.header-user {
    float: right;
    text-align: right;
}
@media (max-width: 767px) {
    .header-user {
        text-align: center;
    }
}
/*_______________tel________user_________________*/

/*__________logo_______Search Products____________ */
.header-middle form {
    display: inline-block;
    border: 1px solid #323232;
}
@media (min-width: 767px) {
    .header-middle form {
       float: right;
    }
}
.header-logo,
.header-middle form {
    margin: 30px 0 26px;
}
.header-logo a {
    display: inline-block;
}
@media (max-width: 767px) {
    .header-logo {
        text-align: center;
    }
    .header-middle form {
        margin-top: 10px;
    }
}
.header-search {
    width: 200px;
    padding: 13px 4px 13px 20px;
    color: #666;
    border: none;
    background-color: transparent;
}
.header-search,
.header-search::placeholder {
    font-size: 13px;
    color: #666;
    line-height: 1.85rem;
    font-weight: 200;
}
.header-middle button {
    padding: 0;
    width: 54px;
    height: 45px;
    border: none;
    background: transparent url(logo/Search.png) center center no-repeat;
}
.header-search,
.header-middle button {
    display: inline-block;
    vertical-align: top;
}
@media (max-width: 767px){
    .search-blok {
        display: flex;
        justify-content: center;
    }
}
/*__________logo_______Search Products____________ */
.header-nav {
    padding-bottom: 20px;
}
.header-nav ul {
    list-style: none;
    padding: 0;
    margin-left: -20px;
}
.header-nav li {
    display: inline-block;
}
@media (max-width: 600px) {
    .header-nav li {
        display: block;
        margin-top: 10px;
    }
    .active {
        margin: 10px;
    }
    .header-nav li+li {
        margin-left: 10px;
    }
}
.header-nav a {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
@media (max-width: 700px) {
    .active {
        margin-left: 10px;
    }
    .header-nav a {
        padding: 10px 10px;
    }
}
.header-nav .active,
.header-nav a:hover {
    color: #be9261;
}
.header-cart {
    float: right;
    padding: 10px;
    width: 17px;
    height: 22px;
    background: url(logo/circl.png) center center no-repeat;
}
@media (max-width: 600px) {
    .header-botton {
        position: relative;
    }
    .header-cart {
        position: absolute;
        bottom: 30px;
        right: 0;
    }
}
.header-cart::after {
    position: relative;
    top: -18px;
    right: 3px;
    display: inline-block;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    font-size: 0.75rem;
    line-height: .75rem;
    line-height: 18px;
    text-align: center;
    background-color: #be926f;
    content: '2';
    text-decoration: none;
    color: black;
}